.rbody {
    background-color: hsl(0, 0%, 15%); 
}



.rtitle {
    text-align: center;
    font-family: "Brush Script MT", Helvetica, sans-serif;
    color: hsl(0, 0%, 90%);
}



.resultimg {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.rdes,
.para,
.ing,
.inglist,
.step,
.steplist {
    font-family: "Brush Script MT", Helvetica, sans-serif;
    color: hsl(0, 0%, 90%);
}